# Introduction to Data Science - Coronavirus COVID 19 Data

***
### DS100-1 / A11


#### Group 3
1. <b>Jerome Francis Cadorna</b>
    - Downloaded the global dataset
    - Imported pandas and numpy library
   
    
2. <b>John Patrick Cervantes</b>
    - Extracted the data of covid cases, recoveries, and fatalities of both countries from June 2020 to August 2020
    - Displayed the tabulated data of both countries
    
    
3. <b>Laurence Kobe Navarro</b>
    - Computed the column of difference of total confirmed cases, recoveries, and fatalities between the two countries
    - Displayed the tabulated data of the difference of confirmed cases, recoveries, and fatalities between the two countries 
    
    
4. <b>Darrel Tristan Virtusio</b>
    - Added the additional data of active cases of the two countries
    - Displayed the tabulated data of active cases of the two countries
***

***
#### COVID-19 Global Dataset hyperlinks: 

<a href="https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases">Main website for the COVID-19 Global Dataset</a>

For direct links:

<a href="https://bit.ly/3h8SVc9">Global Dataset for confirmed COVID-19 cases</a>

<a href="https://bit.ly/2R7woBN">Global Dataset for confirmed COVID-19 deaths</a>
         
<a href="https://bit.ly/2FeKUFB">Global Dataset for confirmed COVID-19 recoveries</a>
***


## Main Program

#### Importing Libraries

In [1]:
# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

#### Reading the .csv file using pandas

In [2]:
# Reading the global dataset of confirmed cases
confirmed_cases = pd.read_csv('time_series_covid19_confirmed_global.csv')

# Reading the global dataset of recoveries
recoveries = pd.read_csv('time_series_covid19_recovered_global.csv')

# Reading the global dataset of mortalities
deaths = pd.read_csv('time_series_covid19_deaths_global.csv')

#### Extracting the confirmed cases, recoveries, and deaths of Peru from June 2020 to August 2020

In [3]:
# Number of confirmed cases from Peru (202)
confirmed_cases_peru_jun = confirmed_cases.iloc[202, 135]
confirmed_cases_peru_aug = confirmed_cases.iloc[202, 226]

confirmed_cases_peru = confirmed_cases_peru_aug - confirmed_cases_peru_jun

# Number of recoveries from Peru (189)
recoveries_peru_jun = recoveries.iloc[189, 135]
recoveries_peru_aug = recoveries.iloc[189, 226]

recoveries_peru = recoveries_peru_aug - recoveries_peru_jun

# Number of deaths from Peru (202)
deaths_peru_jun = deaths.iloc[202, 135]
deaths_peru_aug = deaths.iloc[202, 226]

deaths_peru = deaths_peru_aug - deaths_peru_jun

#### Extracting the confirmed cases, recoveries, and deaths of South Africafrom June 2020 to August 2020

In [4]:
# Number of confirmed cases from South Africa (224)
confirmed_cases_sa_jun = confirmed_cases.iloc[224, 134]
confirmed_cases_sa_aug = confirmed_cases.iloc[224, 228]

confirmed_cases_sa = confirmed_cases_sa_aug - confirmed_cases_sa_jun

# Number of recoveries from South Africa (211)
recovery_sa_jun = recoveries.iloc[211, 134]
recovery_sa_aug = recoveries.iloc[211, 226]

recovery_sa = recovery_sa_aug - recovery_sa_jun

# Number of deaths from South Africa (224)
death_sa_jun = deaths.iloc[224, 134]
death_sa_aug = deaths.iloc[224, 226]

death_sa = death_sa_aug - death_sa_jun

#### Final table of total cases, recoveries, and deaths of Peru and South Africa from June 2020 to August 2020

In [5]:
# Creating a new DataFrame
data = {' ':['Total Cases', 'Total Recoveries', 'Total Deaths'], 'Peru':[confirmed_cases_peru, recoveries_peru, deaths_peru], 'South Africa':[confirmed_cases_sa, recovery_sa, death_sa]}
df = pd.DataFrame(data)
df.set_index(' ', inplace = True)

# Displaying the DataFrame
def color_negative_red(val):
    
    color = 'red' if val > 0 else 'black'
    return 'color: %s' % color

final_df = df.style.applymap(color_negative_red)

final_df

#### Computation of the difference in total confirmed cases, recoveries, and fatalities of Peru between South Africa

In [7]:
# Converting the dataframe to numpy array
array = df.to_numpy()

# Computing the difference in total cases using numpy
difference_cases = abs(np.subtract(array[0,0], array[0,1]))

# Computing the difference in total recoveries using numpy
difference_recoveries = abs(np.subtract(array[1,0], array[1,1]))

# Computing the difference in total fatalities using numpy
difference_deaths = abs(np.subtract(array[2,0], array[2,1]))

diff = [difference_cases, difference_recoveries, difference_deaths]

#### Computation for the difference in active cases between Peru and South Africa

In [8]:
# Active case = Total confirmed case - Recoveries - Mortality
# Computation of active cases in Peru using numpy
initial_1 = np.subtract(array[0,0], array[1,0])
total_active_peru = initial_1 - array[2, 0]

# Computation of active cases in South Africa using numpy
initial_2 = np.subtract(array[0,1], array[1,1])
total_active_sa = initial_2 - array[2,1]

# Computing the difference between the two countries' active cases
diff_total_active = abs(total_active_peru - total_active_sa)

# Creating a new dictionary
active_case ={' ':['Total Active Case'], 'Peru':[total_active_peru], 'South Africa':[total_active_sa], 'Difference between Peru and South Africa':[diff_total_active]}

#### Adding a new column for the difference between two countries

In [9]:
# Adding the new column of difference in total confirmed cases, recoveries, fatalities for Peru and South Africa
df['Difference between Peru and South Africa'] = diff

# Displaying the Updated DataFrame
def color_negative_red(val):
    
    color = 'red' if val > 0 else 'black'
    return 'color: %s' % color

df_des = df.style.applymap(color_negative_red)

df_des

#### Adding the active cases

In [10]:
# Creating new DataFrame for active cases
df_active = pd.DataFrame(active_case)
df_active.set_index(' ', inplace = True)

# Appending the previous DataFrame to the active case DataFrame
df_new = df.append(df_active, ignore_index = False)

def color_negative_red(val):
    
    color = 'red' if val > 0 else 'black'
    return 'color: %s' % color

df_new = df_new.style.applymap(color_negative_red)

df_new